
.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  width: 100%;
  margin: 40px 0 15px 0;
  border-radius: 10px;
  border: 1px solid black;
}

.title {
  font-size: 4em;
  font-family: "Work sans";
}

.tab-container {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.tab-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.tab {
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: gray;
  color: white;
}

.tab.active {
  background-color: gray;
  color: white;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}
